# Preparação Dos Dados

# **MODELO 1**

In [16]:
import pandas as pd
import numpy as np
import os

file_path = 'data/TUCURUI_DIARIA_1939_2016.xlsx'
data = pd.read_excel(file_path, header=None, names=['Vazao'])

# Função para criar defasagens
def criar_defasagens(data, entradas, coluna):
    for i in range(entradas, 0, -1):  # Defasagens de entradas a 1
        data[f'Entrada {i}'] = data[coluna].shift(i)
    novas_colunas = [f'Entrada {i}' for i in range(entradas, 0, -1)] + [coluna]
    data = data[novas_colunas].copy()
    for i in range(1, 12):  # Defasagens de 1 a saídas
        data[f'Saida {i}'] = data[coluna].shift(-i)
    return data

# Criar datasets para 15, 30 e 45 defasagens
data_15 = criar_defasagens(data.copy(), 15, "Vazao")
data_30 = criar_defasagens(data.copy(), 30, "Vazao")
data_45 = criar_defasagens(data.copy(), 45, "Vazao")

In [17]:
# Pasta onde os arquivos serão salvos

output_folder = 'data/modelo_1'

# Criar a pasta se ela não existir
if not os.path.exists(output_folder):
    os.makedirs(output_folder)

# Caminhos para os arquivos Excel
file_path_15 = os.path.join(output_folder, 'data_15_dias.xlsx')
file_path_30 = os.path.join(output_folder, 'data_30_dias.xlsx')
file_path_45 = os.path.join(output_folder, 'data_45_dias.xlsx')

# Salvar os DataFrames em arquivos Excel na pasta específica
data_15.to_excel(file_path_15, index=False)
data_30.to_excel(file_path_30, index=False)
data_45.to_excel(file_path_45, index=False)

# **MODELO 2**

In [20]:
import pandas as pd
import numpy as np
import sys

# Carregar o arquivo Excel
file_path = 'data/TUCURUI_DIARIA_1939_2016.xlsx'
data = pd.read_excel(file_path, header=None, names=['Vazao'])

# Adicionar colunas V1 e V2
data['V1'] = np.nan
data['V2'] = np.nan

# Calcular V1 baseado na coluna Vazao
data.loc[1:, 'V1'] = ((data['Vazao'].iloc[1:] - data['Vazao'].shift(1).iloc[1:]) / data['Vazao'].shift(1).iloc[1:]) * 100

# Calcular V2 baseado na coluna V1
data.loc[1:, 'V2'] = data['V1'].iloc[1:] - data['V1'].shift(1).iloc[1:]

colunas = ['V2', 'V1', 'Vazao']
data = data[colunas]

data

             V2        V1  Vazao
0           NaN       NaN   2110
1           NaN -0.995261   2089
2     -0.871661 -1.866922   2050
3     -0.084298 -1.951220   2010
4      1.005946 -0.945274   1991
...         ...       ...    ...
17284 -1.364289  0.389105   5418
17285 -3.028455 -2.639350   5275
17286 -1.531266 -4.170616   5055
17287 -0.517811 -4.688427   4818
17288  0.080706 -4.607721   4596

[17289 rows x 3 columns]

In [32]:
# Define os intervalos de defasagem a serem testados
intervalos = [15, 30, 45]

dataframes = {
    "V1": {
        15: None,
        30: None,
        45: None
    },
    "V2": {
        15: None,
        30: None,
        45: None
    },
    "Vazao": {
        15: None,
        30: None,
        45: None
    }
}

for coluna in colunas:
    for intervalo in intervalos:
        dataframe = criar_defasagens(data.copy(), intervalo, coluna)
        dataframes[coluna][intervalo] = dataframe

concat15 = pd.concat([dataframes["V2"][15], dataframes["V1"][15], dataframes["Vazao"][15]])
concat30 = pd.concat([dataframes["V2"][30], dataframes["V1"][30], dataframes["Vazao"][30]])
concat45 = pd.concat([dataframes["V2"][45], dataframes["V1"][45], dataframes["Vazao"][45]])

output_folder = 'data/modelo_2'

# Criar a pasta se ela não existir
if not os.path.exists(output_folder):
    os.makedirs(output_folder)

# Caminhos para os arquivos Excel
file_path_15 = os.path.join(output_folder, 'data_15_dias.xlsx')
file_path_30 = os.path.join(output_folder, 'data_30_dias.xlsx')
file_path_45 = os.path.join(output_folder, 'data_45_dias.xlsx')

# Salvar os DataFrames em arquivos Excel na pasta específica
concat15.to_excel(file_path_15, index=False)
concat30.to_excel(file_path_30, index=False)
concat45.to_excel(file_path_45, index=False)

{15:        Entrada 15  Entrada 14  Entrada 13  Entrada 12  Entrada 11  Entrada 10  \
 0             NaN         NaN         NaN         NaN         NaN         NaN
 1             NaN         NaN         NaN         NaN         NaN         NaN
 2             NaN         NaN         NaN         NaN         NaN         NaN
 3             NaN         NaN         NaN         NaN         NaN         NaN
 4             NaN         NaN         NaN         NaN         NaN         NaN
 ...           ...         ...         ...         ...         ...         ...
 17284    0.250107   -0.838210   -1.016536    1.609160    0.276229    1.052834
 17285   -0.838210   -1.016536    1.609160    0.276229    1.052834   -0.000754
 17286   -1.016536    1.609160    0.276229    1.052834   -0.000754   -0.285847
 17287    1.609160    0.276229    1.052834   -0.000754   -0.285847   -2.305543
 17288    0.276229    1.052834   -0.000754   -0.285847   -2.305543   -1.646500

        Entrada 9  Entrada 8  Entrada 7  Entrada 6  ...   Saida 2   Saida 3  \
 0            NaN        NaN        NaN        NaN  ... -0.871661 -0.084298
 1            NaN        NaN        NaN        NaN  ... -0.084298  1.005946
 2            NaN        NaN        NaN        NaN  ...  1.005946 -0.059247
 3            NaN        NaN        NaN        NaN  ... -0.059247  1.004520
 4            NaN        NaN        NaN        NaN  ...  1.004520  0.000000
 ...          ...        ...        ...        ...  ...       ...       ...
 17284  -0.000754  -0.285847  -2.305543  -1.646500  ... -1.531266 -0.517811
 17285  -0.285847  -2.305543  -1.646500  -1.347563  ... -0.517811  0.080706
 17286  -2.305543  -1.646500  -1.347563   1.247477  ...  0.080706       NaN
 17287  -1.646500  -1.347563   1.247477   0.266341  ...       NaN       NaN
 17288  -1.347563   1.247477   0.266341   0.873738  ...       NaN       NaN

         Saida 4   Saida 5   Saida 6   Saida 7   Saida 8   Saida 9  Saida 10  \
 0      1.005946 -0.059247  1.004520  0.000000  0.507357 -0.507357  0.959112
 1     -0.059247  1.004520  0.000000  0.507357 -0.507357  0.959112 -0.959112
 2      1.004520  0.000000  0.507357 -0.507357  0.959112 -0.959112  0.000000
 3      0.000000  0.507357 -0.507357  0.959112 -0.959112  0.000000 -0.950000
 4      0.507357 -0.507357  0.959112 -0.959112  0.000000 -0.950000  1.404316
 ...         ...       ...       ...       ...       ...       ...       ...
 17284  0.080706       NaN       NaN       NaN       NaN       NaN       NaN
 17285       NaN       NaN       NaN       NaN       NaN       NaN       NaN
 17286       NaN       NaN       NaN       NaN       NaN       NaN       NaN
 17287       NaN       NaN       NaN       NaN       NaN       NaN       NaN
 17288       NaN       NaN       NaN       NaN       NaN       NaN       NaN

        Saida 11
 0     -0.959112
 1      0.000000
 2     -0.950000
 3      1.404316
 4     -0.404065
 ...         ...
 17284       NaN
 17285       NaN
 17286       NaN
 17287       NaN
 17288       NaN

 [17289 rows x 27 columns],
 30:        Entrada 30  Entrada 29  Entrada 28  Entrada 27  Entrada 26  Entrada 25  \
 0             NaN         NaN         NaN         NaN         NaN         NaN
 1             NaN         NaN         NaN         NaN         NaN         NaN
 2             NaN         NaN         NaN         NaN         NaN         NaN
 3             NaN         NaN         NaN         NaN         NaN         NaN
 4             NaN         NaN         NaN         NaN         NaN         NaN
 ...           ...         ...         ...         ...         ...         ...
 17284   -0.173530    2.521754    1.358517   -0.446929   -2.344206    1.013623
 17285    2.521754    1.358517   -0.446929   -2.344206    1.013623   -0.457745
 17286    1.358517   -0.446929   -2.344206    1.013623   -0.457745    3.889070
 17287   -0.446929   -2.344206    1.013623   -0.457745    3.889070    0.572210
 17288   -2.344206    1.013623   -0.457745    3.889070    0.572210   -1.325835

        Entrada 24  Entrada 23  Entrada 22  Entrada 21  ...   Saida 2  \
 0             NaN         NaN         NaN         NaN  ... -0.871661
 1             NaN         NaN         NaN         NaN  ... -0.084298
 2             NaN         NaN         NaN         NaN  ...  1.005946
 3             NaN         NaN         NaN         NaN  ... -0.059247
 4             NaN         NaN         NaN         NaN  ...  1.004520
 ...           ...         ...         ...         ...  ...       ...
 17284   -0.457745    3.889070    0.572210   -1.325835  ... -1.531266
 17285    3.889070    0.572210   -1.325835   -0.364176  ... -0.517811
 17286    0.572210   -1.325835   -0.364176    0.487220  ...  0.080706
 17287   -1.325835   -0.364176    0.487220   -0.240690  ...       NaN
 17288   -0.364176    0.487220   -0.240690   -0.488083  ...       NaN

         Saida 3   Saida 4   Saida 5   Saida 6   Saida 7   Saida 8   Saida 9  \
 0     -0.084298  1.005946 -0.059247  1.004520  0.000000  0.507357 -0.507357
 1      1.005946 -0.059247  1.004520  0.000000  0.507357 -0.507357  0.959112
 2     -0.059247  1.004520  0.000000  0.507357 -0.507357  0.959112 -0.959112
 3      1.004520  0.000000  0.507357 -0.507357  0.959112 -0.959112  0.000000
 4      0.000000  0.507357 -0.507357  0.959112 -0.959112  0.000000 -0.950000
 ...         ...       ...       ...       ...       ...       ...       ...
 17284 -0.517811  0.080706       NaN       NaN       NaN       NaN       NaN
 17285  0.080706       NaN       NaN       NaN       NaN       NaN       NaN
 17286       NaN       NaN       NaN       NaN       NaN       NaN       NaN
 17287       NaN       NaN       NaN       NaN       NaN       NaN       NaN
 17288       NaN       NaN       NaN       NaN       NaN       NaN       NaN

        Saida 10  Saida 11
 0      0.959112 -0.959112
 1     -0.959112  0.000000
 2      0.000000 -0.950000
 3     -0.950000  1.404316
 4      1.404316 -0.404065
 ...         ...       ...
 17284       NaN       NaN
 17285       NaN       NaN
 17286       NaN       NaN
 17287       NaN       NaN
 17288       NaN       NaN

 [17289 rows x 42 columns],
 45:        Entrada 45  Entrada 44  Entrada 43  Entrada 42  Entrada 41  Entrada 40  \
 0             NaN         NaN         NaN         NaN         NaN         NaN
 1             NaN         NaN         NaN         NaN         NaN         NaN
 2             NaN         NaN         NaN         NaN         NaN         NaN
 3             NaN         NaN         NaN         NaN         NaN         NaN
 4             NaN         NaN         NaN         NaN         NaN         NaN
 ...           ...         ...         ...         ...         ...         ...
 17284    2.405872    8.068696    1.095935    4.669857   -1.997762   -0.535009
 17285    8.068696    1.095935    4.669857   -1.997762   -0.535009   -0.421440
 17286    1.095935    4.669857   -1.997762   -0.535009   -0.421440   -1.569416
 17287    4.669857   -1.997762   -0.535009   -0.421440   -1.569416   -3.915402
 17288   -1.997762   -0.535009   -0.421440   -1.569416   -3.915402    2.724035

        Entrada 39  Entrada 38  Entrada 37  Entrada 36  ...   Saida 2  \
 0             NaN         NaN         NaN         NaN  ... -0.871661
 1             NaN         NaN         NaN         NaN  ... -0.084298
 2             NaN         NaN         NaN         NaN  ...  1.005946
 3             NaN         NaN         NaN         NaN  ... -0.059247
 4             NaN         NaN         NaN         NaN  ...  1.004520
 ...           ...         ...         ...         ...  ...       ...
 17284   -0.421440   -1.569416   -3.915402    2.724035  ... -1.531266
 17285   -1.569416   -3.915402    2.724035   -3.155230  ... -0.517811
 17286   -3.915402    2.724035   -3.155230   -3.373817  ...  0.080706
 17287    2.724035   -3.155230   -3.373817   -4.011462  ...       NaN
 17288   -3.155230   -3.373817   -4.011462    0.799257  ...       NaN

         Saida 3   Saida 4   Saida 5   Saida 6   Saida 7   Saida 8   Saida 9  \
 0     -0.084298  1.005946 -0.059247  1.004520  0.000000  0.507357 -0.507357
 1      1.005946 -0.059247  1.004520  0.000000  0.507357 -0.507357  0.959112
 2     -0.059247  1.004520  0.000000  0.507357 -0.507357  0.959112 -0.959112
 3      1.004520  0.000000  0.507357 -0.507357  0.959112 -0.959112  0.000000
 4      0.000000  0.507357 -0.507357  0.959112 -0.959112  0.000000 -0.950000
 ...         ...       ...       ...       ...       ...       ...       ...
 17284 -0.517811  0.080706       NaN       NaN       NaN       NaN       NaN
 17285  0.080706       NaN       NaN       NaN       NaN       NaN       NaN
 17286       NaN       NaN       NaN       NaN       NaN       NaN       NaN
 17287       NaN       NaN       NaN       NaN       NaN       NaN       NaN
 17288       NaN       NaN       NaN       NaN       NaN       NaN       NaN

        Saida 10  Saida 11
 0      0.959112 -0.959112
 1     -0.959112  0.000000
 2      0.000000 -0.950000
 3     -0.950000  1.404316
 4      1.404316 -0.404065
 ...         ...       ...
 17284       NaN       NaN
 17285       NaN       NaN
 17286       NaN       NaN
 17287       NaN       NaN
 17288       NaN       NaN

 [17289 rows x 57 columns]}