# Preparação Dos Dados

In [3]:
import pandas as pd
import numpy as np

file_path = 'data/TUCURUI_DIARIA_1939_2016.xlsx'
data = pd.read_excel(file_path, header=None, names=['Vazao'])

# Define os intervalos de defasagem a serem testados
intervalos = [15, 30, 45]

# Loop sobre cada intervalo de defasagem
for intervalo in intervalos:
    
    for i in range(intervalo, 0, -1):
        data[f'Entrada {i}'] = data['Vazao'].shift(i)

    # Define a ordem das novas colunas (defasagens de entrada + coluna original 'Vazao')
    novas_colunas = [f'Entrada {i}' for i in range(intervalo, 0, -1)] + ['Vazao']
    data = data[novas_colunas]

    # Criação das colunas de saída defasadas
    for i in range(1, 12):
        data[f'Saida {i}'] = data['Vazao'].shift(-i)

    # escolhi  exibir a primeira e a última coluna
    subset_columns =  [data.columns[0], 'Vazao', data.columns[-1]]
    
    print(f"\nDataframe para {intervalo} entradas:")
    print(data.loc[:, subset_columns]) # Exibe as primeiras 2 linhas do DataFrame para verificar o resultado

Dataframe para 15 entradas:
       Entrada 15  Vazao  Saida 11
0             NaN   2110    2000.0
1             NaN   2089    2000.0
2             NaN   2050    1981.0
3             NaN   2010    1990.0
4             NaN   1991    1991.0
...           ...    ...       ...
17284      3790.0   5418       NaN
17285      3909.0   5275       NaN
17286      3992.0   5055       NaN
17287      4141.0   4818       NaN
17288      4307.0   4596       NaN

[17289 rows x 3 columns]

Dataframe para 30 entradas:
       Entrada 30  Vazao  Saida 11
0             NaN   2110    2000.0
1             NaN   2089    2000.0
2             NaN   2050    1981.0
3             NaN   2010    1990.0
4             NaN   1991    1991.0
...           ...    ...       ...
17284      3175.0   5418       NaN
17285      3160.0   5275       NaN
17286      3188.0   5055       NaN
17287      3202.0   4818       NaN
17288      3141.0   4596       NaN

[17289 rows x 3 columns]

Dataframe para 45 entradas:
       Entrada 45  Vazao  Saida 11
0             NaN   2110    2000.0
1             NaN   2089    2000.0
2             NaN   2050    1981.0
3             NaN   2010    1990.0
4             NaN   1991    1991.0
...           ...    ...       ...
17284      1388.0   5418       NaN
17285      1503.0   5275       NaN
17286      1644.0   5055       NaN
17287      1875.0   4818       NaN
17288      2101.0   4596       NaN

[17289 rows x 3 columns]